<h1 class="titulos"> {{idEdit ? 'Editar Usuario' : 'Nuevo Usuario'}}</h1>


<form (ngSubmit)="guardarOactualizar()" autocomplete="of" [formGroup]="miFormulario">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="text-white bg-primary card-header">
                    Datos Personales
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="nombres">Nombres:*</label>
                        <input formControlName="nombres" type="text" class="form-control" id="nombres" name="nombres">
                        <span  *ngIf="campoNoEsValido('nombres')" class="form-text text-danger msgError">
                            Nombres: Campo Obligatorio
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="apellidos">Apellidos:*</label>
                        <input formControlName="apellidos" type="text" class="form-control" id="apellidos"
                            name="apellidos">
                        <span  *ngIf="campoNoEsValido('apellidos')" class="form-text text-danger msgError">
                            Apellidos: Campo Obligatorio
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="cedula">Cédula:*</label>
                        <input formControlName="cedula" type="text" class="form-control" id="cedula" name="cedula">
                        <span   *ngIf="campoNoEsValido('cedula')" class="form-text text-danger msgError">
                            Cédula: Debe tener 10 valores
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="correo">Correo:*</label>
                        <input formControlName="correo" type="text" class="form-control" id="correo" name="correo">
                        <span *ngIf="campoNoEsValido('correo')" class="form-text text-danger msgError">
                            Correo: Ingrese un correo válido
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="celular">Celular:*</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" name="celular">
                        <span  *ngIf="campoNoEsValido('celular')" class="form-text text-danger msgError">
                            Celular: Debe tener 10 valores
                        </span>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="text-white bg-primary card-header">
                    Datos de Domicilio
                </div>
                <div class="card-body" formGroupName="direccion">

                    <div class="form-group">
                        <label for="provincia">Provincia:*</label>
                        <input formControlName="provincia" type="text" class="form-control" id="provincia"
                            name="provincia">

                            <span *ngIf="campoNoValidoDireccion('direccion.provincia')" class="form-text text-danger msgError">
                                Provincia: Campo Obligatorio
                            </span>

                       
                         
                  
                    </div>

                    <div class="form-group">
                        <label for="ciudad">Ciudad:*</label>
                        <input formControlName="ciudad" type="text" class="form-control" id="ciudad" name="ciudad">
                        <span *ngIf="campoNoValidoDireccion('direccion.provincia')" class="form-text text-danger msgError">
                            Ciudad: Campo Obligatorio
                        </span>
                   
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección/Barrio/Calles:*</label>
                        <input formControlName="direccion" type="text" class="form-control" id="direccion" name="direccion">
                        <span *ngIf="campoNoValidoDireccion('direccion.provincia')" class="form-text text-danger msgError">
                            Direccion: Campo Obligatorio
                        </span>
                    
                    </div>

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success m-4 w-100">
            <span class="fas fa-download"></span>
            {{!idEdit ? 'Guardar' : 'Actualizar'}}
     
        </button>
    </div>
</form>







