<nz-layout class="app-layout">
  <nz-sider [class.hid]="ocultar" class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Elegant Sport</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Usuarios" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/nuevo-usuario"> <span class="fa fa-user-plus"></span> Nuevo</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/lista-usuarios"> <span class="fa fa-users"></span> Listado</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/usuarios-inactivos"> <span class="fa fa-user-times"></span> Inactivos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Proveedores" nzIcon="branches">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/nuevo-proveedor"><span class="fa fa-plus"></span> Nuevo</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/lista-proveedores"><span class="fa fa-th-list"></span> Listado</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Inventario" nzIcon="align-center">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/inventario"><span class="fa fa-list-alt"></span> Materiales</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/material-tipo"><span class="fa fa-list-alt"></span> Material - Tipo</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/material-unidad"><span class="fa fa-list-alt"></span> Material - Unidad</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Productos - Pedidos" nzIcon="shopping">
        <ul>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/shared/producto-tipo"><span class="fa fa-folder-plus"></span> Tipo Producto</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/shared/nuevo-producto"><span class="fa fa-folder-plus"></span> Nuevo Producto</a>
          </li>


          <li nz-menu-item nzMatchRouter>
            <a routerLink="/shared/listar-productos"><span class="fa fa-stream"></span> Listado</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>

        <div style="float:right;padding-right: 10px;">
          {{this.apellidos}} {{this.nombres}}

          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="btn-sm dropdown-item" type="button">
               <span class="fas fa-user-cog"></span> Mis Datos
              </button>
              <button (click)="logout() " class="btn-sm dropdown-item" type="button">
                <span class="fas fa-sign-out-alt"></span>Salir
              </button>
            </div>
          </div>

        </div>
      </div>

    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>